
{% extends 'polls/layout.html' %}


{% block custombody_content %}

<div class="container">
    <a href="https://plot.ly/~alan.wc.hau/6/" target="_blank" title="" style="display: block; text-align: center;"><img src="https://plot.ly/~alan.wc.hau/6.png" alt="" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="alan.wc.hau:6" src="https://plot.ly/embed.js" async></script>
</div>




<!-- <a href="{% url 'polls:init_google_login' %}"><button >Google Oauth</button></a> -->



{% endblock custombody_content %}